@page "/about"
<PageTitle>Futurist | About the Programmer and the Application</PageTitle>
<section class="container pt-5">
    <section class="mb-10">
        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1; ">
                        <div class="card-body p-lg-5 shadow-5">
                            <h2 class="fw-bold"> <span class="text-primary">About John Vicencio</span> </h2>
                            <p class="fw-bold">Solutions Provider</p>
                            <p class="text-muted mb-4">John Serrano Vicencio, originally from California and now residing in Arizona, is driven by his passion to perceive reality with depth and clarity. However, he maintains an open mind towards others' perspectives. In addition to his professional and personal pursuits, John finds joy in exploring diverse interests. He embraces various approaches to living life as a whole.</p>
                            <p class="text-muted">John embarked on the development of a web-based application, recognizing that programming revolves around addressing real-life challenges and offering technical resolutions. As an instance, he constructed a browser-based app encompassing essential components like logic, user interface, and a database for persistent data storage. Remarkably, the transferability of programming techniques enables their application in crafting desktop applications, such as his macOS app project.</p>
                            <a class="btn  btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="https://johnvicencio.com" target="_blank" role="button" aria-controls="#picker-editor">Visit My Website</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0"> <img src="images/johnsaltonsea.jpeg" class="w-100 rounded-4 shadow-4 rotate-lg-6" alt="" aria-controls="#picker-editor"> </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
</section>

<GitHubSourceCode />

<section id="app">
    <div class="row">
        <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="/images/juliana-mayo-qS7VWP8ADrw-unsplash.jpg" class="img-fluid" />
                <a href="/">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Technologies used</strong></h4>
            <p>
                The code is a basic ASP.NET Core Blazor Webassembly application that prompts users to enter a
                personal question about their future. The application then accesses a JSON file database
                that contains various possible answers, and a logic selects an answer to the user's question.
                The selected answer is then displayed on the user's browser. Overall, this is a simple yet
                effective application that uses ASP.NET Core Blazor to provide an interactive experience for users.
            </p>
            <h5>macOS App version with C# Demo</h5>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_p7y8SkhZkw?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
