@page "/contact"

    <section class="container pt-5" >
        <section class="mb-10 text-center">
            <style>
                hr.divider-vertical {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    background-image: linear-gradient( 180deg, transparent, hsl(0, 0%, 40%), transparent );
                    background-color: transparent;
                    height: 100%;
                }
            </style>
            <!-- Background image -->
            <div class="p-5 bg-image" style="background-image: url(&quot;images/karsten-winegeart-BmITQhaDSw8-unsplash.jpg&quot;); height: 300px; background-size: cover; background-position: 50% 50%;" aria-controls="#picker-editor"></div>
            <!-- Background image -->
            <div class="card mx-4 mx-md-5 shadow-5-strong" style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">
                <div class="card-body py-5 px-md-5">
                    <div class="row mb-5">
                        <h1>Contact Me</h1>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <form method="post" name="contact" netlify>
                                <!-- Name input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="form4Example1" class="form-control"> <label class="form-label" for="form4Example1" style="margin-left: 0px;">Name</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 42.4px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form4Example2" class="form-control"> <label class="form-label" for="form4Example2" style="margin-left: 0px;">Email address</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 88.8px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
                                <!-- Message input -->
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                                    <label class="form-label" for="form4Example3" style="margin-left: 0px;">Message</label>
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 60px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
         
                                <!-- Submit button --> <button type="submit" class="btn      btn-primary btn-block" aria-controls="#picker-editor">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
