@page "/"

<PageTitle>Futurist</PageTitle>

<section class="overflow-hidden pt-0" style="height: 100vh;">
    <section class="mb-10">
        <!-- Background image -->
        <div class="p-5 text-center bg-image" style="background-image: url(&quot;images/drew-beamer-kUHfMW8awpE-unsplash.jpg&quot;); height: 400px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);" aria-controls="#picker-editor"></div>
        <!-- Background image -->
        <div class="container">
            <div class="card mx-4 mx-md-5 text-center shadow-5-strong reading-your-future">
                <div class="card-body px-4 py-5 px-md-5">


                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-10">
                            <div class="row align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h1 class="fw-bold">Reading your future</h1>
                                    @if (!string.IsNullOrEmpty(answer) && !string.IsNullOrEmpty(question))
                                    {
                                        <p class="text-primary"><em>@answer</em></p>
                                    }
                                    else
                                    {
                                        <p class="text-primary">I predict 
                                            <span class="spinner-grow spinner-grow-sm" role="status">
                                                <span class="sr-only">Thinking...</span>
                                            </span>
                                        </p>
                                        
                                    }

                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div class="d-md-flex flex-row">
                                        <div class="form-outline flex-fill me-1 mb-3 mb-md-0">
                                            <input type="text" id="question" @bind="question" class="form-control form-control-lg"> <label class="form-label" for="question" style="margin-left: 0px;">Ask me</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 108px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn   btn-primary btn-lg ms-md-2" aria-controls="#picker-editor" @onclick="SubmitForm">Prediction</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5%;">
                        <div class="col">
                            <a class="btn  btn-default btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="https://github.com/johnvicencio/Futurist" target="_blank" role="button" aria-controls="#picker-editor">Web App Code</a>
                            <a class="btn  btn-default btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="https://github.com/johnvicencio/FuturistMac" target="_blank" role="button" aria-controls="#picker-editor">Mac App Code</a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
</section>

<section class="container pt-5">
    <section class="mb-10 text-center text-lg-start">
        <h2 class="fw-bold mb-5 text-center">Technologies Used</h2>
        <div class="row gx-lg-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div>
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light"> <img src="images/emile-perron-xrVDYZRGdw4-unsplash.jpg" class="w-100" alt="" aria-controls="#picker-editor"> </div>
                    <h5 class="fw-bold">C#</h5>
                    <div class="mb-3 text-danger small"> <i class="fas fa-fire me-2" aria-controls="#picker-editor"></i><span>Main Programming Lanaguage</span> </div>
                    <p class="text-muted">C# is a popular language by Microsoft for building a variety of applications. It offers simplicity, strong type checking, and scalability. With automatic memory management and .NET integration, it enables cross-platform development.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div>
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light"> <img src="images/zan-X_JsI_9Hl7o-unsplash.jpg" class="w-100" alt="" aria-controls="#picker-editor"> </div>
                    <h5 class="fw-bold">.NET</h5>
                    <div class="mb-3 text-primary small"> <i class="fas fa-flask me-2" aria-controls="#picker-editor"></i><span>Software Development Framework</span> </div>
                    <p class="text-muted">The .NET Framework is a software development framework from Microsoft that simplifies application development. It supports web, desktop, and mobile app creation, and provides features like memory management, security, and interoperability.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div>
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light"> <img src="images/kelly-sikkema-io0ZLYbu31s-unsplash.jpg" class="w-100" alt="" aria-controls="#picker-editor"> </div>
                    <h5 class="fw-bold">User Interface</h5>
                    <div class="mb-3 text-warning small"> <i class="fas fa-sun me-2" aria-controls="#picker-editor"></i><span>User Interface and Experience</span> </div>
                    <p class="text-muted">
                        The web app utilizes Blazor WebAssembly for its UI, while the macOS desktop application relies on Xamarin, AppKit, and UIKit technologies.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="container pt-5">
    <section class="mb-10">
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-5 col-xl-4 d-none d-lg-flex"> <img src="images/shunya-koide-1emWndlDHs0-unsplash.jpg" alt="" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" aria-controls="#picker-editor"> </div>
                <div class="col-lg-7 col-xl-8">
                    <div class="card-body py-5 px-md-5">
                        <h2 class="fw-bold mb-4">Futurist Blazor WebAssembly Web App</h2>
                        <p class="text-muted mb-4">
                            The code represents a straightforward ASP.NET Core Blazor WebAssembly application that prompts users to input personal questions regarding their future. The application subsequently retrieves data from a JSON file database that stores a range of potential answers. Using a logical process, it selects an appropriate response to the user's question, which is then displayed in the user's browser. In summary, this application utilizes ASP.NET Core Blazor to create an interactive user experience, making it a concise and efficient solution.
                        </p>
                        <div class="row">
                            <div class="col-lg-4 mb-2">
                                <p> <span class="text-dark me-2">&#x2713;</span><span>Uses C# that produces JavaScript called Blazor</span> </p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>Material Based Bootstrap Design</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>JavaScript, HTML, CSS</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>.NET Framework</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>JSON file as database</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>MVC architecture</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>Responsive Design</span></p>
                            </div>
                            <div class="col-lg-4 mb-2">
                                <p><span class="text-dark me-2">&#x2713;</span><span>Object Oriented Programming</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<GitHubSourceCode />





@code {
    private string? answer;
    private string? question;

    protected override async Task OnInitializedAsync()
    {
        await SubmitForm();
    }

    private async Task SubmitForm()
    {

        if (!string.IsNullOrWhiteSpace(question))
        {
            string questionValue = question;
            answer = await predictionService.GetAnswerAsync(questionValue);
        }
    }

}