@page "/"

<PageTitle>Futurist</PageTitle>

<section id="start">
    <div class="row">
        <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="/images/juliana-mayo-qS7VWP8ADrw-unsplash.jpg" class="img-fluid" />
                <a href="/">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Technologies used</strong></h4>
            <p>
                The code is a basic ASP.NET Core Blazor Webassembly application that prompts users to enter a
                personal question about their future. The application then accesses a JSON file database
                that contains various possible answers, and a logic selects an answer to the user's question.
                The selected answer is then displayed on the user's browser. Overall, this is a simple yet
                effective application that uses ASP.NET Core Blazor to provide an interactive experience for users.
            </p>
            <h5>macOS App version with C# Demo</h5>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_p7y8SkhZkw?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


