@page "/mac"
<section class="overflow-hidden pt-0">
    <section class="mb-10 text-center text-lg-start">
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                        <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                            <h1 class="my-5 display-4 fw-bold ls-tight"> <span>The Futurist for Mac</span> <br> <span class="text-primary">download it here</span> </h1>
                            <a class="btn   btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="https://filedn.com/lwWgYzj2vKNSUq8ElE8Ymm4/MythosLife/Application/FuturistMac-1.0.pkg.zip" target="_blank" role="button" aria-controls="#picker-editor">Get started</a> <a class="btn   btn-link btn-lg py-3 px-5" data-ripple-color="primary" href="/about" role="button" aria-controls="#picker-editor">About the programmer</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0"> <img src="images/FuturistMacbg.gif" class="w-100 rounded-4 shadow-4" alt="" aria-controls="#picker-editor"> </div>
            </div>
        </div>
    </section>
</section>

<GitHubSourceCode />