<footer class="bg-light text-lg-start">
    <hr class="m-0" />



    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © @DateTime.Now.Year Copyright: Programmed by
        <a class="text-dark" target="_blank" href="https://johnvicencio.com">John Vicencio</a>
    </div>

</footer>
