@inherits LayoutComponentBase

@*<NavMenu />*@


<section class="overflow-hidden pt-0" data-v-271253ee="">
    <section class="" style="padding-bottom: 1px;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-2">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand --> <a class="navbar-brand me-2" href="/"> <img src="icon-512.png" height="32" alt="Logo" loading="lazy" style="margin-top: -1px" aria-controls="#picker-editor"> Futurist</a> <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtons" aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation"> <span>&#9776;</span></button>
                <div class="collapse navbar-collapse" id="navbarButtons">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="/about" aria-controls="#picker-editor">About</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="/contact" aria-controls="#picker-editor">Contact</a> </li>
                    </ul>
                    <!-- Left links -->
                    <div class="d-flex align-items-center"> <a href="/mac" class="btn  btn-default btn-rounded me-3" aria-controls="#picker-editor">Futurist for Mac</a> </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </section>
</section>

<main class="mt-5">
    <article>
        @Body
    </article>
</main>
<Footer />
